[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
lxrbckl = "*"
dash-player = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
