.aboutMeRow {

   overflow: hidden;
   border-radius: 15px;

   background-size: cover;
   padding: 5px 17px 5px 17px;
   background-position: 50% 55%;
   background-repeat: no-repeat;
   background-image: var(--backgroundImage);

}


.aboutMeLeftCol {

   margin: 0;
   padding: 5px;
   overflow-y: scroll;
   scrollbar-width: none;
   border: var(--borderBlack);
   max-height: var(--aboutMeMaxHeight);
   border-top-left-radius: var(--borderRadius);
   border-bottom-left-radius: var(--borderRadius);

}


.aboutMeRightCol {

   margin: 0;
   overflow-y: scroll;
   scrollbar-width: none;
   padding: 0 5px 5px 5px;
   border-top: var(--borderBlack);
   border-right: var(--borderBlack);
   border-bottom: var(--borderBlack);
   max-height: var(--aboutMeMaxHeight);
   border-top-right-radius: var(--borderRadius);
   border-bottom-right-radius: var(--borderRadius);

}


.aboutMePhotoDashPlayer {

   padding: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   margin: 0 0 -6px 0;
   border-radius: var(--borderRadius);

}


.aboutMeEcosystemDiv {

   margin: 5px 0 0 0;
   padding: 5px 0 0 0;
   border-top: var(--borderBlack);
   
}


.aboutMeTextMarkdown {

   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 22px;
   text-align: justify;
   backdrop-filter: var(--filterBlur);
   font-family: Arial, Helvetica, sans-serif;

}