.aboutMeRow {

   background-size: cover;
   padding: var(--padding);
   background-position: 50% 55%;
   background-repeat: no-repeat;
   background-image: var(--background);

}


.aboutMeLeftCol {

   overflow-y: scroll;
   scrollbar-width: none;
   max-height: var(--maxHeight);
   padding-right: var(--padding);
   border-right: var(--borderBlack);

}


.aboutMeRightCol {

   overflow-y: scroll;
   scrollbar-width: none;
   max-height: var(--maxHeight);
   padding-left: var(--padding);

}


.aboutMePhotoDashPlayer {

   margin: 0;
   padding: 0;
   border-bottom: var(--borderBlack);

}


.ecosystemDiv {

   padding: 0 0 0 0;
   margin: 3px -2px 0 -2px;

}


.aboutMeTextMarkdown {

   margin: 0;
   padding: 0;
   font-size: 16px;
   text-align: justify;
   border-top: var(--borderBlack);
   backdrop-filter: var(--filterBlur);
   font-family: Arial, Helvetica, sans-serif;

}