.aboutMeRow {

   padding: var(--padding);
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-image: var(--background);

}


.aboutMeLeftCol {

   overflow-y: scroll;
   scrollbar-width: none;
   padding-left: var(--padding);
   max-height: var(--maxHeight);

}


.aboutMeRightCol {

   /* margin: 0; */
   /* padding: 0; */
   overflow-y: scroll;
   scrollbar-width: none;
   max-height: var(--maxHeight);
   border-left: var(--borderBlack);


}


.aboutMePhotoDashPlayer {

   padding-bottom: var(--padding);
   border-bottom: var(--borderBlack);

}


.ecosystemDiv {

   padding-top: var(--padding);

}


.aboutMeTitleH1 {

   backdrop-filter: var(--filterBlur);

}


.aboutMeDescriptionMarkdown {

   margin: 0;
   padding: 0;
   text-align: justify;
   font-family: var(--font);
   backdrop-filter: var(--filterBlur);

}