.bodyCol {

   padding-left: var(--padding);
   padding-right: var(--padding);
   background: var(--colorWhite);
   border-left: var(--borderBlack);
   border-right: var(--borderBlack);

}


.badgeDiv {

   border: var(--borderBlack);

}


.badge {

   padding: 4px;
   border: var(--borderBlack);

}