.bodyDiv {

   padding-left: var(--padding);
   padding-right: var(--padding);
   background: var(--colorWhite);
   border-left: var(--borderBlack);
   border-right: var(--borderBlack);

}


.buildBadgesDiv {

   padding: 0;
   margin: -1px;
   line-height: 0;

}


.badgeLanguages {

   margin: 1px;
   color: var(--colorBlack);
   padding: 3px 4px 3px 4px;
   border: var(--borderBlack);
   background-color: #96867F!important;
   font-family: Arial, Helvetica, sans-serif;

}


.badgePackages {

   margin: 1px;
   color: var(--colorBlack);
   padding: 3px 4px 3px 4px;
   border: var(--borderBlack);
   background-color: #AA7F74!important;
   font-family: Arial, Helvetica, sans-serif;

}


.badgeOther {

   margin: 1px;
   color: var(--colorBlack);
   padding: 3px 4px 3px 4px;
   border: var(--borderBlack);
   background-color: #C0A49A!important;
   font-family: Arial, Helvetica, sans-serif;

}


.badgeServices {

   width: 100%;
   padding: 4px;
   margin: 2px 1px 2px 2px;
   color: var(--colorBlack);
   border: var(--borderBlack);
   background-color: #F7F5F1!important;
   font-family: Arial, Helvetica, sans-serif;

}


.buildCardDiv {

   padding: 0;
   margin: 2px;
   display: flex;
   flex-direction: column;
   min-width: var(--cardWidth);
   max-width: var(--cardWidth);
   border-radius: var(--borderRadius);

}


.buildCardHeaderRow {

   margin: 0;
   padding: 0px 2px 2px 2px;
   border-bottom: var(--borderBlack);
   background-color: var(--colorBlack);
   border-top-left-radius: var(--borderRadius);
   border-top-right-radius: var(--borderRadius);

}


.buildCardBodyRow {

   margin: 0;
   height: 100%;
   flex-grow: 1;
   overflow-x: hidden;
   scrollbar-width: none;
   padding: 3px 5px 5px 3px;
   border-left: var(--borderBlack);
   border-right: var(--borderBlack);
   backdrop-filter: var(--filterBlur);

}


.buildCardFooterRow {

   margin: -1px 0 0 0;
   padding: 1px 2px 3px 0;
   background-color: var(--colorBlack);
   border-bottom-left-radius: var(--borderRadius);
   border-bottom-right-radius: var(--borderRadius);

}


.buildCardIconImg {

   padding: 0;
   z-index: 100;
   height: 21px;
   justify-content: center;
   margin: 3px -10px 1px -7px;

}


.buildCardTitleH4 {

   padding: 3px;
   line-height: 1;
   font-weight: bolder;
   margin: 1px 0 -3px -13px;
   color: var(--colorWhite);
   font-family: Arial, Helvetica, sans-serif;

}