.footerDiv {

   margin: 0;
   padding: var(--padding);
   border: var(--borderBlack);
   background-color: var(--colorWhite);
   border-bottom-left-radius: var(--borderRadius);
   border-bottom-right-radius: var(--borderRadius);

}


.footerConnectionImg {

   height: 32px;

}