.headerRow {

   margin: 0;
   padding: var(--padding);
   border: var(--borderBlack);
   background: var(--colorWhite);
   border-top-left-radius: var(--borderRadius);
   border-top-right-radius: var(--borderRadius);

}

.headerTitleCol {

   padding: 0;

}


.headerLetterH1Pixel {

   margin: 0;
   padding: 0;
   line-height: 1;
   display: inline;
   font-size: 65px;
   letter-spacing: 0rem;
   font-family: pixeloid;
   color: var(--colorBlack);

}


.headerLetterH1Normal {

   margin: 0;
   padding: 0;
   line-height: 1;
   display: inline;
   font-size: 80px;
   letter-spacing: 0.25rem;
   color: var(--colorBlack);
   font-family: 'Franklin Gothic Medium';

}


.headerAvatarsCol {

   padding: 0;

}


.headerAvatarImg {

   margin: 0;
   padding: 0;
   height: 80px;
   border-radius: 50%;
   /* border: var(--borderBlack); */

}