.headerRow {
   margin: 0;
   padding: var(--padding);
   border: var(--borderBlack);
   background: var(--colorWhite);

}

.headerTitleCol {

   padding: 0;

}


.headerTitleH1Pixel {

   margin: 0;
   padding: 0;
   line-height: 1;
   display: inline;
   font-size: 74px;
   letter-spacing: 0rem;
   font-family: pixeloid;
   color: var(--colorBlack);

}


.headerTitleH1Normal {

   margin: 0;
   padding: 0;
   line-height: 1;
   display: inline;
   font-size: 80px;
   letter-spacing: 0.25rem;
   color: var(--colorBlack);
   font-family: 'Franklin Gothic Medium';

}


.headerImagesCol {

   padding: 0;

}


.headerImagesImg {

   margin: 0;
   padding: 0;
   height: 80px;
   border-radius: 50%;

}