.headerRow {

   margin: 0;
   padding: var(--padding);
   border: var(--borderBlack);
   background-color: var(--colorWhite);

}


.headerTitleCol {

   padding: 0;
   margin-left: -6px;

}


.headerTitleH1 {

   margin: 0;
   padding: 0;
   line-height: 1;
   font-size: 80px;
   color: var(--colorBlack);

}


.headerImagesCol {

   padding: 0;

}


.headerImagesImg {

   margin: 0;
   padding: 0;
   height: 80px;
   border-radius: 50%;

}