.myProjectsDiv {

   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 90%;
   background-image: var(--background);

}


.myProjectsDescriptionP {

   background-color: red;

   margin: 0;
   padding: 0;
   color: var(--colorWhite);

}