.myServersDiv {

   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 75%;
   background-image: var(--background);

}


.myServersStack {

   padding: 3px;
   overflow-x: scroll;
   
}


.myServersTitleH4 {

   padding: 3px;
   font-size: 19px;
   margin: 0 0 -1px -10px;
   color: var(--colorWhite);
   font-family: Arial, Helvetica, sans-serif;

}


.myServersStatusDown {

   padding: 0;
   color: red;
   max-width: 15px;
   animation: none;
   max-height: 15px;
   border-width: 3px;
   margin: 0 0 -1px -6px;

}


.myServersStatusReady {

   padding: 0;
   color: green;
   max-width: 15px;
   max-height: 15px;
   border-width: 3px;
   margin: 0 0 -1px -6px;

}


.myServersIconImg {

   padding: 0;
   width: 20px;
   margin: 0 -7px 0 12px;

}