.myServersDiv {

   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 75%;
   background-image: var(--background);

}


.myServersStack {

   padding: 3px;
   overflow-x: scroll;
   
}


.myServersCard {

   padding: 0;
   margin: 2px;
   min-width: var(--cardWidth);
   max-width: var(--cardWidth);

}


.myServersRowHeader {

   margin: 0;
   padding: 0;
   border-bottom: var(--borderBlack);
   background-color: var(--colorBlack);
   border-top-left-radius: var(--borderRadius);
   border-top-right-radius: var(--borderRadius);

}


.myServersCardTitle {

   padding: 3px;
   font-size: 21px;
   margin: -1px 0 0 -12px;
   color: var(--colorWhite);
   font-family: Arial, Helvetica, sans-serif;

}


.myServersCardStatusDown {

   padding: 0;
   color: red;
   max-width: 15px;
   animation: none;
   max-height: 15px;
   border-width: 3px;
   margin: 7px -6px 0 0;

}


.myServersCardStatusReady {

   padding: 0;
   color: green;
   max-width: 15px;
   max-height: 15px;
   border-width: 3px;
   margin: 7px -6px 0 0;

}


.myServersRowBody {

   margin: 0;
   overflow-x: hidden;
   scrollbar-width: none;
   padding: 1px 5px 3px 1px;
   border-left: var(--borderBlack);
   border-right: var(--borderBlack);
   min-height: var(--cardBodyHeight);
   max-height: var(--cardBodyHeight);
   backdrop-filter: var(--filterBlur);
   
}


.myServersRowFooter {

   margin: 0;
   padding: 5px;
   background-color: var(--colorBlack);
   border-bottom-left-radius: var(--borderRadius);
   border-bottom-right-radius: var(--borderRadius);

}


.myServersCardFooterIcon {

   padding: 0;
   width: 22px;
   margin: -4px -10px 0 -10px;

}