:root {

   --margin: 5px;
   --padding: 5px;

   --layoutMaxWidth: 1000px;
   --aboutMeMaxHeight: 450px;

   --filterBlur: blur(4px);

   --cardWidth: 225px;
   --cardBodyHeight: 165px;

   --colorBlack: #181A1B;
   --colorWhite: #F7F5F1;

   --borderRadius: 5px;
   --borderWhite: 1px solid var(--colorWhite);
   --borderBlack: 1px solid var(--colorBlack);

   --backgroundImage: url('https://i.postimg.cc/rsr3CDNk/IMG-2663.png');
   
}