:root {
    --itemWidth: 6;
    --itemSize: 200px;
    --easeTime: 375ms;
    --filterBlur: 4px;
    --colorWhite: #F7F5F1;
    --colorBlack: #181A1B;
    --fontFamily: sans-serif;
    --borderWhite: 1px solid var(--colorWhite);
    --transition: color var(--easeTime) ease, background-color var(--easeTime) ease;

}


html, body {
    min-height: 100vh;
    overscroll-behavior: none;
    font-family: var(--fontFamily);
    padding: calc(var(--itemSize) / 3);
    background-color: var(--colorBlack);
}


.gridContainer {
    display: grid;
    grid-auto-flow: dense;
    box-sizing: border-box;
    grid-auto-rows: var(--itemSize);
    max-width: calc(var(--itemSize) * var(--itemWidth));
    grid-template-columns: repeat(auto-fill, minmax(var(--itemSize), 1fr));
}
.gridItem {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    border: var(--borderWhite);
    background-repeat: no-repeat;
}


.videoExtended {
    color: none;
    background-color: none;
    width: 110% !important;
    height: 110% !important;
}


.markdownExtended {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 15px;
    user-select: none;
    pointer-events: none;
    color: var(--colorWhite);
    -webkit-user-select: none;
}
/* # */
.markdownExtended h1 {
    height: 100%;
    display: flex;
    font-size: 85px;
    align-items: center;
    justify-content: center;
    font-family: var(--fontFamily);
}
/* ## */
.markdownExtended h2 {
    font-size: 30px;
}
/* ### */
.markdownExtended h3 {
    font-size: 25px;
}
/* #### */
.markdownExtended h4 {
    font-size: 20px;
}
/* [text](link) */
.markdownExtended a {
    color: var(--colorWhite);
    transition: var(--transition);
    pointer-events: all !important;
}
.markdownExtended a:hover {
    text-decoration: none;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}
/* *text* */
.markdownExtended em {
    color: var(--colorBlack);
    font-style: italic;
    background-color: var(--colorWhite);
}
/* **text** */
.markdownExtended strong {
    font-weight: bolder;
}
/* `text` */
.markdownExtended code {
    padding: 2px;
    font-size: 13px;
    line-height: 25px;
    color: var(--colorWhite);
    transition: var(--transition);
    border: 1px solid var(--colorWhite);
    background-color: var(--colorBlack);
}
.markdownExtended code:hover {
    background-color: var(--colorBlack);
}


.blur {
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(var(--filterBlur));
    -webkit-backdrop-filter: blur(var(--filterBlur));
}
.blur::before {
    inset: 0;
    z-index: 0;
    content: "";
    position: absolute;
    transform: scale(1.1);
    background-size: inherit;
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
    filter: blur(var(--filterBlur));
}
.blur > * {
    z-index: 1;
    position: relative;
}


.myProjectsDiv {

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}
.myProjectsSubDiv {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: var(--borderWhite);
    border-right: var(--borderWhite);
    border-bottom: var(--borderWhite);
    min-height: calc(var(--itemSize) * 2);
    max-height: calc(var(--itemSize) * 2);
}


.projectCardHeader {
    min-height: var(--itemSize);
    max-height: var(--itemSize);
}
.projectCardBody {
    min-height: calc(var(--itemSize) * 0.75);
    max-height: calc(var(--itemSize) * 0.75);
}
.projectCardFooter {
    display: flex;
    align-items: bottom;
    min-height: calc(var(--itemSize) * 0.25);
    max-height: calc(var(--itemSize) * 0.25);
}


.navlinkExtended {
    color: var(--colorWhite);
    transition: var(--transition);
    background-color: var(--colorBlack);
}
.navlinkExtended:hover {
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}


.myTechStackDiv {
    display: flex;
    flex-direction: column;
}
.myTechStackSubDiv {
    flex: 1;
}