:root {
    --itemWidth: 6;
    --itemSize: 200px;
    --colorWhite: #F7F5F1;
    --colorBlack: #181A1B;
    --borderWhite: 1px solid var(--colorWhite);
}


html, body {
    padding: calc(var(--itemSize) / 3);
    min-height: 100vh;
    overscroll-behavior: none;
    background-color: var(--colorBlack);
}


.gridContainer {
    display: grid;
    grid-auto-flow: dense;
    box-sizing: border-box;
    grid-auto-rows: var(--itemSize);
    max-width: calc(var(--itemSize) * var(--itemWidth));
    grid-template-columns: repeat(auto-fill, minmax(var(--itemSize), 1fr));
}
.gridItem {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    justify-content: center;
    border: var(--borderWhite);
    background-repeat: no-repeat;
}


.videoExtended {
    width: 110% !important;
    height: 100% !important;
}


.markdownExtended {
    padding: 5px;
    font-size: 15px;
    user-select: none;
    text-align: justify;
    pointer-events: none;
    font-family: sans-serif;
    color: var(--colorWhite);
    -webkit-user-select: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: backdrop-filter 250ms ease;
}
/* ## */
.markdownExtended h2 {
    font-size: 30px;
    margin-top: -4px;
}
/* ### */
.markdownExtended h3 {
    font-size: 25px;
}
/* #### */
.markdownExtended h4 {
    font-size: 20px;
}
/* [text](link) */
.markdownExtended a {
    color: var(--colorWhite);
    pointer-events: all !important;
    transition: color 250ms ease, background-color 250ms ease;
}
.markdownExtended a:hover {
    background-color: var(--colorBlack);
}
/* ![alt text](link) */
.markdownExtended image {
    color: none;
}
/* *text* */
.markdownExtended em {
    padding: 0 2px 0 2px;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}
/* **text** */
.markdownExtended strong {
    padding: 0 2px 0 2px;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
}
/* `text` */
.markdownExtended code {
    padding: 2px;
    line-height: 25px;
    color: var(--colorWhite);
    border: 1px solid var(--colorWhite);
}